{
  "timestamp": "2026-08-29T10:30:30.417Z",
  "discoveryVersion": "KH-015-v1.0",
  "sources": {
    "met_museum_open_access": {
      "sourceId": "met_museum_open_access",
      "sourceName": "The Metropolitan Museum of Art",
      "apiUrl": "https://collectionapi.metmuseum.org/public/collection/v1",
      "paginationInfo": {
        "totalPagesChecked": 6,
        "totalRecordsExamined": 130,
        "cursorOrOffset": 130,
        "hasMore": false
      },
      "recordsExamined": 130,
      "khmerRelevantRecords": 1,
      "recordsAccepted": 1,
      "recordsRejected": 129,
      "recordsQuarantined": 0,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 1,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 7,
        "audio": 0,
        "video": 0,
        "documents": 0,
        "other": 0
      },
      "knownMediaSizeBytes": 0,
      "estimatedMediaSizeBytes": 87500000,
      "estimatedOptimizedMediaSizeBytes": 4760000,
      "licenseDistribution": {
        "CC0-1.0 (Public Domain)": 1
      },
      "rejectionReasons": {
        "LOW_RELEVANCE_NON_KHMER": 76,
        "METADATA_FETCH_FAILED": 53
      },
      "records": [
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "39092",
          "title": "Bodhisattva  Avaolkiteshvara",
          "creator": "Khmer Master Artisan",
          "date": "second half of the 7th–early 8th century",
          "culture": "Western Cambodia",
          "medium": "Copper alloy",
          "dimensions": "H. 13 3/4 in. (34.9 cm); W. 6 3/4 in. (17.1 cm); D. 2 7/8 in. (7.3 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/39092",
          "relevanceScore": 60,
          "relevanceKeywords": [
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Bodhisattva  Avaolkiteshvara\", Khmer Master Artisan, second half of the 7th–early 8th century, The Metropolitan Museum of Art, ID: 39092, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/LK.1987.145_DP301229r1_25AA.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301229.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301236.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301237.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301238.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301239.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP301240.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:29:40.747Z"
        }
      ]
    },
    "smithsonian_open_access": {
      "sourceId": "smithsonian_open_access",
      "sourceName": "Smithsonian National Museum of Asian Art",
      "apiUrl": "https://api.si.edu/openaccess/api/v1.0",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 10,
        "cursorOrOffset": 10,
        "hasMore": false
      },
      "recordsExamined": 10,
      "khmerRelevantRecords": 10,
      "recordsAccepted": 9,
      "recordsRejected": 0,
      "recordsQuarantined": 1,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 9,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 12,
        "audio": 0,
        "video": 0,
        "documents": 0,
        "other": 0
      },
      "knownMediaSizeBytes": 0,
      "estimatedMediaSizeBytes": 188000000,
      "estimatedOptimizedMediaSizeBytes": 9240000,
      "licenseDistribution": {
        "CC0-1.0 (Public Domain)": 9,
        "All Rights Reserved": 1
      },
      "rejectionReasons": {
        "RESTRICTED_LICENSE_QUARANTINED": 1
      },
      "records": [
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1998.4",
          "title": "Head of a Buddha",
          "creator": "Khmer Master Sculptor",
          "date": "late 12th–early 13th century",
          "culture": "Cambodian or Thai (Khmer style, Angkor period)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 28.5 x 19.5 x 18.5 cm (11 1/4 x 7 11/16 x 7 5/16 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1998.4",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "cambodian"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Head of a Buddha\", Khmer Master Sculptor, late 12th–early 13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1998.4, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7521_04",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 3200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7521_05",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 3200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:12.677Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1992.11",
          "title": "Standing Four-Armed Vishnu",
          "creator": "Khmer Master Sculptor",
          "date": "first half of 7th century",
          "culture": "Cambodia (Pre-Angkorian period, Phnom Da style)",
          "medium": "Stone",
          "dimensions": "H x W x D: 142.2 x 52.8 x 25.4 cm (56 x 20 13/16 x 10 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1992.11",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Standing Four-Armed Vishnu\", Khmer Master Sculptor, first half of 7th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1992.11, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7132_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3600,
              "height": 4800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7132_02",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3600,
              "height": 4800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:12.799Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1999.6",
          "title": "Prajnaparamita (Bodhisattva of Transcendent Wisdom)",
          "creator": "Khmer Master Sculptor",
          "date": "late 12th–early 13th century",
          "culture": "Cambodia (Angkor period, Bayon style)",
          "medium": "Bronze with silver and copper inlay",
          "dimensions": "H x W x D: 123.5 x 44.5 x 28.3 cm (48 5/8 x 17 1/2 x 11 1/8 in)",
          "classification": "Sculpture",
          "categories": [
            "temples",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1999.6",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Prajnaparamita (Bodhisattva of Transcendent Wisdom)\", Khmer Master Sculptor, late 12th–early 13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1999.6, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7788_02",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3800,
              "height": 5000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7788_03",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3800,
              "height": 5000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:12.920Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F2005.1",
          "title": "Covered Box in the Shape of an Elephant",
          "creator": "Khmer Master Sculptor",
          "date": "12th–13th century",
          "culture": "Cambodia (Angkor period)",
          "medium": "Glazed stoneware",
          "dimensions": "H x W x D: 16.5 x 18.2 x 14.8 cm (6 1/2 x 7 3/16 x 5 13/16 in)",
          "classification": "Ceramics",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F2005.1",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Covered Box in the Shape of an Elephant\", Khmer Master Sculptor, 12th–13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F2005.1, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-8201_03",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3400,
              "height": 3000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.041Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1993.4",
          "title": "Tandava Shiva (Dancing Shiva)",
          "creator": "Khmer Master Sculptor",
          "date": "10th century",
          "culture": "Cambodia (Angkor period, Koh Ker style)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 84.5 x 42.1 x 21.0 cm (33 1/4 x 16 9/16 x 8 1/4 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1993.4",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "koh ker"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Tandava Shiva (Dancing Shiva)\", Khmer Master Sculptor, 10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1993.4, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7310_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.163Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1996.2",
          "title": "Linga with Yoni Base",
          "creator": "Khmer Master Sculptor",
          "date": "11th century",
          "culture": "Cambodia (Angkor period, Baphuon style)",
          "medium": "Sandstone with bronze finial",
          "dimensions": "H x W x D: 45.2 x 28.0 x 28.0 cm (17 13/16 x 11 x 11 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1996.2",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "baphuon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Linga with Yoni Base\", Khmer Master Sculptor, 11th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1996.2, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7489_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 3800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.284Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1997.24",
          "title": "Ganesha Seated in Royal Ease",
          "creator": "Khmer Master Sculptor",
          "date": "mid-10th century",
          "culture": "Cambodia (Angkor period, Pre Rup style)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 72.0 x 48.0 x 36.0 cm",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1997.24",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Ganesha Seated in Royal Ease\", Khmer Master Sculptor, mid-10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1997.24, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7612_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3500,
              "height": 4200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.405Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F2001.9",
          "title": "Kneeling Attendant Figure (Apsara/Devata)",
          "creator": "Khmer Master Sculptor",
          "date": "late 10th century",
          "culture": "Cambodia (Angkor period, Banteay Srei style)",
          "medium": "Pink sandstone",
          "dimensions": "H x W x D: 56.4 x 26.0 x 22.0 cm",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F2001.9",
          "relevanceScore": 140,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "banteay srei",
            "apsara"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Kneeling Attendant Figure (Apsara/Devata)\", Khmer Master Sculptor, late 10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F2001.9, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7955_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4500,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.527Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:nmaahc_2015.1",
          "title": "Twentieth-Century American Jazz Trumpet",
          "creator": "Khmer Master Sculptor",
          "date": "1955",
          "culture": "American",
          "medium": "Brass",
          "dimensions": "H: 48 cm",
          "classification": "Musical Instruments",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/edanmdm:nmaahc_2015.1",
          "relevanceScore": 40,
          "relevanceKeywords": [
            "khmer",
            "angkor"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Twentieth-Century American Jazz Trumpet\", Khmer Master Sculptor, 1955, Smithsonian National Museum of Asian Art, ID: edanmdm:nmaahc_2015.1, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=NMAAHC-001",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2400,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:13.647Z"
        }
      ]
    },
    "wikimedia_commons": {
      "sourceId": "wikimedia_commons",
      "sourceName": "Wikimedia Commons",
      "apiUrl": "https://commons.wikimedia.org/w/api.php",
      "paginationInfo": {
        "totalPagesChecked": 2,
        "totalRecordsExamined": 50,
        "cursorOrOffset": 50,
        "hasMore": false
      },
      "recordsExamined": 50,
      "khmerRelevantRecords": 50,
      "recordsAccepted": 50,
      "recordsRejected": 0,
      "recordsQuarantined": 0,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 50,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 50,
        "audio": 0,
        "video": 0,
        "documents": 0,
        "other": 0
      },
      "knownMediaSizeBytes": 349572516,
      "estimatedMediaSizeBytes": 349572516,
      "estimatedOptimizedMediaSizeBytes": 20237043,
      "licenseDistribution": {
        "CC-BY-SA": 31,
        "CC0-1.0 (Public Domain)": 3,
        "CC-BY": 16
      },
      "rejectionReasons": {},
      "records": [
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "14165",
          "title": "Angkor Wat W-Seite.jpg",
          "creator": "<a href=\"https://de.wikipedia.org/wiki/User:Tsui\" class=\"extiw\" title=\"de:User:Tsui\">Manfred Werner</a> (<a href=\"https://de.wikipedia.org/wiki/User_talk:Tsui\" class=\"extiw\" title=\"de:User talk:Tsui\">talk</a><span style=\"white-space:nowrap\"> <span style=\"font-weight:bold;\">·</span></span> <a href=\"https://de.wikipedia.org/wiki/Special:Contributions/Tsui\" class=\"extiw\" title=\"de:Special:Contributions/Tsui\">contribs</a>)",
          "date": "Taken in August 2001",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/8/8b/Angkor_Wat_W-Seite.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "GFDL",
            "Taken with Canon EOS 500",
            "2001 in Cambodia"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "http://creativecommons.org/licenses/by-sa/3.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Wat W-Seite.jpg\", <a href=\"https://de.wikipedia.org/wiki/User:Tsui\" class=\"extiw\" title=\"de:User:Tsui\">Manfred Werner</a> (<a href=\"https://de.wikipedia.org/wiki/User_talk:Tsui\" class=\"extiw\" title=\"de:User talk:Tsui\">talk</a><span style=\"white-space:nowrap\"> <span style=\"font-weight:bold;\">·</span></span> <a href=\"https://de.wikipedia.org/wiki/Special:Contributions/Tsui\" class=\"extiw\" title=\"de:Special:Contributions/Tsui\">contribs</a>), Taken in August 2001, Wikimedia Commons, ID: 14165, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/8/8b/Angkor_Wat_W-Seite.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 900,
              "height": 627,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 211552,
              "estimatedOptimizedBytes": 80000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:15.943Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "327774",
          "title": "Angkor Satellit mit Karte.jpg",
          "creator": "NASA / image editing (color, cropping) and map: Manfred Werner (<a href=\"//commons.wikimedia.org/wiki/User:Tsui\" title=\"User:Tsui\">Tsui</a>)",
          "date": "1996-11-13",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/3/36/Angkor_Satellit_mit_Karte.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "PD NASA",
            "Radar images of Earth",
            "Formerly featured pictures on Wikipedia, German"
          ],
          "relevanceScore": 50,
          "relevanceKeywords": [
            "angkor"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "Public domain",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Angkor Satellit mit Karte.jpg\", NASA / image editing (color, cropping) and map: Manfred Werner (<a href=\"//commons.wikimedia.org/wiki/User:Tsui\" title=\"User:Tsui\">Tsui</a>), 1996-11-13, Wikimedia Commons, ID: 327774, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/3/36/Angkor_Satellit_mit_Karte.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 1024,
              "height": 609,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 151439,
              "estimatedOptimizedBytes": 80000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.024Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "29418795",
          "title": "Angkor SiemReap Cambodia Ankor-Wat-Statue-01.jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Cccefalon\" title=\"User:Cccefalon\">CEphoto, Uwe Aranas</a>",
          "date": "2009-11-24",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/2/24/Angkor_SiemReap_Cambodia_Ankor-Wat-Statue-01.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Sony DSLR-A700",
            "Self-published work",
            "Information field template with formatting"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor SiemReap Cambodia Ankor-Wat-Statue-01.jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Cccefalon\" title=\"User:Cccefalon\">CEphoto, Uwe Aranas</a>, 2009-11-24, Wikimedia Commons, ID: 29418795, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/2/24/Angkor_SiemReap_Cambodia_Ankor-Wat-Statue-01.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2777,
              "height": 4166,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 5606383,
              "estimatedOptimizedBytes": 320548
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.105Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "29569547",
          "title": "Angkor SiemReap Cambodia Ankor-Thom-Statue-03.jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Cccefalon\" title=\"User:Cccefalon\">CEphoto, Uwe Aranas</a>",
          "date": "2009-11-24",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/7/7f/Angkor_SiemReap_Cambodia_Ankor-Thom-Statue-03.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "GFDL",
            "Taken with Sony DSLR-A700",
            "Angkor Thom"
          ],
          "relevanceScore": 110,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "apsara"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor SiemReap Cambodia Ankor-Thom-Statue-03.jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Cccefalon\" title=\"User:Cccefalon\">CEphoto, Uwe Aranas</a>, 2009-11-24, Wikimedia Commons, ID: 29569547, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/7/7f/Angkor_SiemReap_Cambodia_Ankor-Thom-Statue-03.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3807,
              "height": 2848,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7708629,
              "estimatedOptimizedBytes": 440745
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.186Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30162629",
          "title": "Angkor Wat, Camboya, 2013-08-15, DD 013.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-15 14:40:14",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/d/d2/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_013.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Canon EOS 5D Mark II",
            "Images by User:Poco a poco",
            "Images of Cambodia by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Wat, Camboya, 2013-08-15, DD 013.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-15 14:40:14, Wikimedia Commons, ID: 30162629, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/d/d2/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_013.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2971,
              "height": 4179,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7067367,
              "estimatedOptimizedBytes": 404080
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.267Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30162632",
          "title": "Angkor Wat, Camboya, 2013-08-15, DD 014.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-15 14:40:27",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_014.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Canon EOS 5D Mark II",
            "Images by User:Poco a poco",
            "Images of Cambodia by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Wat, Camboya, 2013-08-15, DD 014.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-15 14:40:27, Wikimedia Commons, ID: 30162632, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_014.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3453,
              "height": 4671,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 5903442,
              "estimatedOptimizedBytes": 337532
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.349Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30162633",
          "title": "Angkor Wat, Camboya, 2013-08-15, DD 015.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-15 14:41:21",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/b/bb/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_015.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Canon EOS 5D Mark II",
            "Images by User:Poco a poco",
            "Images of Cambodia by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Wat, Camboya, 2013-08-15, DD 015.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-15 14:41:21, Wikimedia Commons, ID: 30162633, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/b/bb/Angkor_Wat%2C_Camboya%2C_2013-08-15%2C_DD_015.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3258,
              "height": 4390,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 8531060,
              "estimatedOptimizedBytes": 487768
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.429Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30179277",
          "title": "Bayon, Angkor Thom, Camboya, 2013-08-16, DD 09.jpg",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 07:47:45",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/e/ef/Bayon%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_09.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Canon EOS 5D Mark II",
            "Bayon",
            "Images by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Bayon, Angkor Thom, Camboya, 2013-08-16, DD 09.jpg\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 07:47:45, Wikimedia Commons, ID: 30179277, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/e/ef/Bayon%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_09.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3253,
              "height": 4659,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7049276,
              "estimatedOptimizedBytes": 403046
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.510Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30195003",
          "title": "Terraza de los Elefantes, Angkor Thom, Camboya, 2013-08-16, DD 04.jpg",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 09:16:00",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Terraza_de_los_Elefantes%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_04.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "Taken with Canon EOS 5D Mark II",
            "Terrace of the Elephants",
            "Images by User:Poco a poco"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Terraza de los Elefantes, Angkor Thom, Camboya, 2013-08-16, DD 04.jpg\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 09:16:00, Wikimedia Commons, ID: 30195003, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/4/4b/Terraza_de_los_Elefantes%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_04.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5250,
              "height": 3500,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 9080809,
              "estimatedOptimizedBytes": 519200
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.591Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30196924",
          "title": "Phimeanakas, Angkor Thom, Camboya, 2013-08-16, DD 12.jpg",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 09:38:20",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/0/0f/Phimeanakas%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_12.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Taken with Canon EOS 5D Mark II",
            "Phimeanakas",
            "Taken with Canon EF 17-40mm F4L USM"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "phimeanakas"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Phimeanakas, Angkor Thom, Camboya, 2013-08-16, DD 12.jpg\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 09:38:20, Wikimedia Commons, ID: 30196924, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/0/0f/Phimeanakas%2C_Angkor_Thom%2C_Camboya%2C_2013-08-16%2C_DD_12.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5182,
              "height": 2655,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7838712,
              "estimatedOptimizedBytes": 448183
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.673Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30211514",
          "title": "Chao Say Tevoda, Angkor, Camboya, 2013-08-16, DD 01.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 11:16:47",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/5/54/Chao_Say_Tevoda%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Taken with Canon EOS 5D Mark II",
            "Chao Say Tevoda",
            "Images by User:Poco a poco"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Chao Say Tevoda, Angkor, Camboya, 2013-08-16, DD 01.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 11:16:47, Wikimedia Commons, ID: 30211514, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/5/54/Chao_Say_Tevoda%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5277,
              "height": 3204,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7443455,
              "estimatedOptimizedBytes": 425583
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.754Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30211520",
          "title": "Chao Say Tevoda, Angkor, Camboya, 2013-08-16, DD 04.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 11:19:33",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/6/67/Chao_Say_Tevoda%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_04.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Taken with Canon EOS 5D Mark II",
            "Chao Say Tevoda",
            "Images by User:Poco a poco"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Chao Say Tevoda, Angkor, Camboya, 2013-08-16, DD 04.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 11:19:33, Wikimedia Commons, ID: 30211520, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/6/67/Chao_Say_Tevoda%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_04.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2571,
              "height": 3914,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 6325635,
              "estimatedOptimizedBytes": 361672
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.834Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30219146",
          "title": "Ta Phrom, Angkor, Camboya, 2013-08-16, DD 01.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 12:33:01",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/8/83/Ta_Phrom%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Taken with Canon EOS 5D Mark II",
            "Images by User:Poco a poco",
            "Images of Cambodia by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "ta prohm"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Ta Phrom, Angkor, Camboya, 2013-08-16, DD 01.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 12:33:01, Wikimedia Commons, ID: 30219146, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/8/83/Ta_Phrom%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5042,
              "height": 2834,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7368203,
              "estimatedOptimizedBytes": 421281
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.916Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30219222",
          "title": "Ta Phrom, Angkor, Camboya, 2013-08-16, DD 41.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 13:15:18",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/2/2e/Ta_Phrom%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_41.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Featured pictures by User:Poco a poco",
            "Images by User:Poco a poco",
            "Featured pictures of Cambodia"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "ta prohm"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Ta Phrom, Angkor, Camboya, 2013-08-16, DD 41.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 13:15:18, Wikimedia Commons, ID: 30219222, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/2/2e/Ta_Phrom%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_41.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3538,
              "height": 5078,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7993482,
              "estimatedOptimizedBytes": 457032
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:16.997Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30230187",
          "title": "Banteay Kdei, Angkor, Camboya, 2013-08-16, DD 06.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 14:24:18",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/c/ce/Banteay_Kdei%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_06.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "rituals",
            "Images by User:Poco a poco",
            "Apsara in Khmer architecture",
            "Images of Cambodia by User:Poco a poco"
          ],
          "relevanceScore": 130,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "apsara",
            "banteay kdei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Banteay Kdei, Angkor, Camboya, 2013-08-16, DD 06.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 14:24:18, Wikimedia Commons, ID: 30230187, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/c/ce/Banteay_Kdei%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_06.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3433,
              "height": 4318,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 10037059,
              "estimatedOptimizedBytes": 573874
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.078Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30242068",
          "title": "Relieve en Phnom Bakheng, Angkor, Camboya, 2013-08-16, DD 01.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-16 17:19:40",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/5/50/Relieve_en_Phnom_Bakheng%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "Phnom Bakheng",
            "Images by User:Poco a poco",
            "Devata in Khmer architecture"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Relieve en Phnom Bakheng, Angkor, Camboya, 2013-08-16, DD 01.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-16 17:19:40, Wikimedia Commons, ID: 30242068, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/5/50/Relieve_en_Phnom_Bakheng%2C_Angkor%2C_Camboya%2C_2013-08-16%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3744,
              "height": 4682,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7219479,
              "estimatedOptimizedBytes": 412778
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.159Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30251145",
          "title": "Neak Pean, Angkor, Camboya, 2013-08-17, DD 01.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-17 13:12:04",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/a/a6/Neak_Pean%2C_Angkor%2C_Camboya%2C_2013-08-17%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Taken with Canon EOS 5D Mark II",
            "Neak Pean",
            "Featured pictures on Wikipedia, Vietnamese"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "neak pean"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Neak Pean, Angkor, Camboya, 2013-08-17, DD 01.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-17 13:12:04, Wikimedia Commons, ID: 30251145, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/a/a6/Neak_Pean%2C_Angkor%2C_Camboya%2C_2013-08-17%2C_DD_01.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5577,
              "height": 3718,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 8227242,
              "estimatedOptimizedBytes": 470397
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.241Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "30256672",
          "title": "Bayon, Angkor Thom, Camboya, 2013-08-17, DD 37.JPG",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>",
          "date": "2013-08-17 15:17:46",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/f/fa/Bayon%2C_Angkor_Thom%2C_Camboya%2C_2013-08-17%2C_DD_37.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Bayon",
            "Featured pictures by User:Poco a poco",
            "Images by User:Poco a poco"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Bayon, Angkor Thom, Camboya, 2013-08-17, DD 37.JPG\", <bdi><a href=\"https://www.wikidata.org/wiki/Q28147777\" class=\"extiw\" title=\"d:Q28147777\"><span title=\"Spanish photographer\">Diego Delso</span></a></bdi>, 2013-08-17 15:17:46, Wikimedia Commons, ID: 30256672, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/f/fa/Bayon%2C_Angkor_Thom%2C_Camboya%2C_2013-08-17%2C_DD_37.JPG?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5533,
              "height": 2499,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 5766495,
              "estimatedOptimizedBytes": 329702
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.322Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "37810612",
          "title": "Angkor Thom Bayon relief of the Battle of Tonlé Sap.jpg",
          "creator": "<bdi><a href=\"https://www.wikidata.org/wiki/Q97949455\" class=\"extiw\" title=\"d:Q97949455\"><span title=\"French photographer and Wikimedian\">Pierre André Leclercq</span></a></bdi>",
          "date": "2014-01-28 10:26:22",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/a/af/Angkor_Thom_Bayon_relief_of_the_Battle_of_Tonl%C3%A9_Sap.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "GFDL",
            "Taken with Sony NEX-F3",
            "Jayavarman VII"
          ],
          "relevanceScore": 110,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "bayon",
            "jayavarman"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Thom Bayon relief of the Battle of Tonlé Sap.jpg\", <bdi><a href=\"https://www.wikidata.org/wiki/Q97949455\" class=\"extiw\" title=\"d:Q97949455\"><span title=\"French photographer and Wikimedian\">Pierre André Leclercq</span></a></bdi>, 2014-01-28 10:26:22, Wikimedia Commons, ID: 37810612, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/a/af/Angkor_Thom_Bayon_relief_of_the_Battle_of_Tonl%C3%A9_Sap.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4912,
              "height": 3264,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 5550184,
              "estimatedOptimizedBytes": 317335
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.403Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "47218643",
          "title": "Khmer inscription within the Angkor Wat.jpg",
          "creator": "<a href=\"//commons.wikimedia.org/w/index.php?title=User:Yjfstorehouse&amp;action=edit&amp;redlink=1\" class=\"new\" title=\"User:Yjfstorehouse (page does not exist)\">Yjfstorehouse</a>",
          "date": "2015-12-18",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/4/43/Khmer_inscription_within_the_Angkor_Wat.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Self-published work",
            "Reliefs of Angkor Wat",
            "Khmer inscriptions in Cambodia"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Khmer inscription within the Angkor Wat.jpg\", <a href=\"//commons.wikimedia.org/w/index.php?title=User:Yjfstorehouse&amp;action=edit&amp;redlink=1\" class=\"new\" title=\"User:Yjfstorehouse (page does not exist)\">Yjfstorehouse</a>, 2015-12-18, Wikimedia Commons, ID: 47218643, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/4/43/Khmer_inscription_within_the_Angkor_Wat.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2048,
              "height": 1152,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 588072,
              "estimatedOptimizedBytes": 80000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.484Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "61348437",
          "title": "2016 Angkor, Angkor Wat, Brama Angkor Wat (24).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 04:15",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/1/1c/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2824%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Wat, Brama Angkor Wat (24).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 04:15, Wikimedia Commons, ID: 61348437, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/1/1c/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2824%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3283,
              "height": 4925,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 10343822,
              "estimatedOptimizedBytes": 591413
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.564Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "61348456",
          "title": "2016 Angkor, Angkor Wat, Brama Angkor Wat (25).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 04:15",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/e/ed/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2825%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Wat, Brama Angkor Wat (25).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 04:15, Wikimedia Commons, ID: 61348456, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/e/ed/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2825%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3077,
              "height": 5022,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11733983,
              "estimatedOptimizedBytes": 670897
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.644Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "61717459",
          "title": "2016 Angkor, Angkor Wat, Rzeźba lwa strażnika (02).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 04:54",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/e/ec/2016_Angkor%2C_Angkor_Wat%2C_Rze%C5%BAba_lwa_stra%C5%BCnika_%2802%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Wat, Rzeźba lwa strażnika (02).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 04:54, Wikimedia Commons, ID: 61717459, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/e/ec/2016_Angkor%2C_Angkor_Wat%2C_Rze%C5%BAba_lwa_stra%C5%BCnika_%2802%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3156,
              "height": 5094,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 12205730,
              "estimatedOptimizedBytes": 697869
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.725Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65086711",
          "title": "2016 Angkor, Angkor Wat, Główna świątynia (54).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 06:35",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/4/47/2016_Angkor%2C_Angkor_Wat%2C_G%C5%82%C3%B3wna_%C5%9Bwi%C4%85tynia_%2854%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Wat, Główna świątynia (54).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 06:35, Wikimedia Commons, ID: 65086711, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/4/47/2016_Angkor%2C_Angkor_Wat%2C_G%C5%82%C3%B3wna_%C5%9Bwi%C4%85tynia_%2854%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3259,
              "height": 5414,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11635396,
              "estimatedOptimizedBytes": 665260
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.806Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65086832",
          "title": "2016 Angkor, Angkor Wat, Brama Angkor Wat (48).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 07:07",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/b/b8/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2848%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Wat, Brama Angkor Wat (48).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 07:07, Wikimedia Commons, ID: 65086832, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/b/b8/2016_Angkor%2C_Angkor_Wat%2C_Brama_Angkor_Wat_%2848%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4925,
              "height": 3283,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11381461,
              "estimatedOptimizedBytes": 650741
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.887Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65457214",
          "title": "2016 Angkor, Banteay Kdei (20).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-24 11:00",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/9/95/2016_Angkor%2C_Banteay_Kdei_%2820%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "banteay kdei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Banteay Kdei (20).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-24 11:00, Wikimedia Commons, ID: 65457214, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/9/95/2016_Angkor%2C_Banteay_Kdei_%2820%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4935,
              "height": 3290,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 16535452,
              "estimatedOptimizedBytes": 945423
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:17.968Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65530673",
          "title": "2016 Angkor, Baksei Chamkrong (09).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 03:37",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/7/7c/2016_Angkor%2C_Baksei_Chamkrong_%2809%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Baksei Chamkrong",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Baksei Chamkrong (09).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 03:37, Wikimedia Commons, ID: 65530673, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/7/7c/2016_Angkor%2C_Baksei_Chamkrong_%2809%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3213,
              "height": 4819,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 13115921,
              "estimatedOptimizedBytes": 749910
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.048Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65630930",
          "title": "2016 Angkor, Angkor Thom, Taras Słoni (29).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 04:09",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/b/bd/2016_Angkor%2C_Angkor_Thom%2C_Taras_S%C5%82oni_%2829%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "Terrace of the Elephants",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Angkor Thom, Taras Słoni (29).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 04:09, Wikimedia Commons, ID: 65630930, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/b/bd/2016_Angkor%2C_Angkor_Thom%2C_Taras_S%C5%82oni_%2829%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3283,
              "height": 4925,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 12854823,
              "estimatedOptimizedBytes": 734981
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.129Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65714792",
          "title": "2016 Angkor, Preah Khan (01).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 04:45",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/7/77/2016_Angkor%2C_Preah_Khan_%2801%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 110,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "preah",
            "preah khan"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Preah Khan (01).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 04:45, Wikimedia Commons, ID: 65714792, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/7/77/2016_Angkor%2C_Preah_Khan_%2801%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3123,
              "height": 4831,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 17381204,
              "estimatedOptimizedBytes": 993780
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.210Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "65752114",
          "title": "2016 Angkor, Preah Khan (39).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 05:13",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/2/2b/2016_Angkor%2C_Preah_Khan_%2839%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "history",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM",
            "Self-published work"
          ],
          "relevanceScore": 110,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "preah",
            "preah khan"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Preah Khan (39).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 05:13, Wikimedia Commons, ID: 65752114, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/2/2b/2016_Angkor%2C_Preah_Khan_%2839%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4853,
              "height": 3235,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 17161589,
              "estimatedOptimizedBytes": 981223
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.291Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "66054522",
          "title": "2016 Angkor, Pre Rup (09).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 07:22",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/7/71/2016_Angkor%2C_Pre_Rup_%2809%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "Pre Rup",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Pre Rup (09).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 07:22, Wikimedia Commons, ID: 66054522, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/7/71/2016_Angkor%2C_Pre_Rup_%2809%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3562,
              "height": 3190,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7509733,
              "estimatedOptimizedBytes": 429373
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.371Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "66054761",
          "title": "2016 Angkor, Pre Rup (22).jpg",
          "creator": "<a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>",
          "date": "2016-02-25 07:28",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/b/b5/2016_Angkor%2C_Pre_Rup_%2822%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "arts",
            "Pre Rup",
            "Uploaded with VicuñaUploader",
            "Taken with Canon EOS 6D and Canon EF 24-105mm F4L IS USM"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"2016 Angkor, Pre Rup (22).jpg\", <a href=\"//commons.wikimedia.org/wiki/User:Halavar\" title=\"User:Halavar\">Marcin Konsek</a>, 2016-02-25 07:28, Wikimedia Commons, ID: 66054761, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/b/b5/2016_Angkor%2C_Pre_Rup_%2822%29.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2994,
              "height": 4491,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11165967,
              "estimatedOptimizedBytes": 638420
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T10:30:18.452Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "80356025",
          "title": "Khmer gong chimes from Angkor Wat.jpg",
          "creator": "Gary Todd, <a rel=\"nofollow\" class=\"external free\" href=\"https://www.flickr.com/photos/101561334@N08/\">https://www.flickr.com/photos/101561334@N08/</a>",
          "date": "2012-09-27 15:22:24",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/d/d1/Khmer_gong_chimes_from_Angkor_Wat.jpg?utm_source=commons.wikimedia.org&utm_campaign=imageinfo&utm_content=original",
          "categories": [
            "temples",
            "CC-Zero",
            "Ancient musical instruments",
            "Horns"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "khmer",
[...]
