{
  "timestamp": "2026-08-29T11:11:48.161Z",
  "discoveryVersion": "KH-016-v1.0",
  "tierBreakdown": {
    "pilotSources": [
      "met_museum_open_access",
      "smithsonian_open_access",
      "wikimedia_commons"
    ],
    "tier1Sources": [
      "internet_archive",
      "gallica_bnf",
      "british_library_eap",
      "library_of_congress",
      "persee_befeo"
    ],
    "tier2Sources": [
      "national_museum_cambodia",
      "apsara_authority",
      "efeo",
      "center_for_khmer_studies",
      "buddhist_institute_cambodia",
      "mcfa_cambodia"
    ]
  },
  "sources": {
    "met_museum_open_access": {
      "sourceId": "met_museum_open_access",
      "sourceName": "The Metropolitan Museum of Art",
      "apiUrl": "https://collectionapi.metmuseum.org/public/collection/v1",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 14,
        "cursorOrOffset": 14,
        "hasMore": false
      },
      "recordsExamined": 14,
      "khmerRelevantRecords": 13,
      "recordsAccepted": 12,
      "recordsRejected": 1,
      "recordsQuarantined": 1,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 12,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 14,
        "audio": 0,
        "video": 0,
        "documents": 0,
        "other": 0
      },
      "knownMediaSizeBytes": 0,
      "estimatedMediaSizeBytes": 175000000,
      "estimatedOptimizedMediaSizeBytes": 9520000,
      "licenseDistribution": {
        "CC0-1.0 (Public Domain)": 12,
        "All Rights Reserved": 1
      },
      "rejectionReasons": {
        "LOW_RELEVANCE_NON_KHMER": 1,
        "RESTRICTED_LICENSE_QUARANTINED": 1
      },
      "records": [
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38166",
          "title": "Standing Four-Armed Avalokiteshvara (Bodhisattva of Compassion)",
          "creator": "Khmer Master Artisan",
          "date": "ca. late 10th–first half of the 11th century",
          "culture": "Cambodia (Angkor period)",
          "medium": "Bronze with silver inlay",
          "dimensions": "H. 23 in. (58.4 cm); W. 8 in. (20.3 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38166",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Standing Four-Armed Avalokiteshvara (Bodhisattva of Compassion)\", Khmer Master Artisan, ca. late 10th–first half of the 11th century, The Metropolitan Museum of Art, ID: 38166, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152864.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152865.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38173",
          "title": "Head of a Buddha",
          "creator": "Khmer Master Artisan",
          "date": "late 12th–early 13th century",
          "culture": "Cambodia (Angkor period, Bayon style)",
          "medium": "Sandstone",
          "dimensions": "H. 11 1/2 in. (29.2 cm)",
          "classification": "Sculpture",
          "categories": [
            "temples",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38173",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Head of a Buddha\", Khmer Master Artisan, late 12th–early 13th century, The Metropolitan Museum of Art, ID: 38173, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152868.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2800,
              "height": 3500,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38178",
          "title": "Seated Ganesha",
          "creator": "Khmer Master Artisan",
          "date": "first half of the 7th century",
          "culture": "Cambodia (Pre-Angkorian period)",
          "medium": "Sandstone",
          "dimensions": "H. 20 1/8 in. (51.1 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38178",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Seated Ganesha\", Khmer Master Artisan, first half of the 7th century, The Metropolitan Museum of Art, ID: 38178, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152870.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2900,
              "height": 3600,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38180",
          "title": "Kneeling Female Figure (Possibly a Queen)",
          "creator": "Khmer Master Artisan",
          "date": "second quarter of the 10th century",
          "culture": "Cambodia (Angkor period, Koh Ker style)",
          "medium": "Sandstone",
          "dimensions": "H. 42 1/4 in. (107.3 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38180",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "koh ker"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Kneeling Female Figure (Possibly a Queen)\", Khmer Master Artisan, second quarter of the 10th century, The Metropolitan Museum of Art, ID: 38180, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152875.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3400,
              "height": 4200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152876.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3400,
              "height": 4200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38190",
          "title": "Lintel with Vishnu Reclining on Ananta",
          "creator": "Khmer Master Artisan",
          "date": "mid-11th century",
          "culture": "Cambodia (Angkor period, Baphuon style)",
          "medium": "Sandstone",
          "dimensions": "W. 54 in. (137.2 cm); H. 22 in. (55.9 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38190",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "baphuon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Lintel with Vishnu Reclining on Ananta\", Khmer Master Artisan, mid-11th century, The Metropolitan Museum of Art, ID: 38190, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152880.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4800,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38195",
          "title": "Harihara",
          "creator": "Khmer Master Artisan",
          "date": "late 7th–early 8th century",
          "culture": "Cambodia (Pre-Angkorian period, Prasat Andet style)",
          "medium": "Sandstone",
          "dimensions": "H. 36 in. (91.4 cm)",
          "classification": "Sculpture",
          "categories": [
            "temples",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38195",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "prasat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Harihara\", Khmer Master Artisan, late 7th–early 8th century, The Metropolitan Museum of Art, ID: 38195, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152885.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2700,
              "height": 3800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38202",
          "title": "Uma (Parvati)",
          "creator": "Khmer Master Artisan",
          "date": "11th century",
          "culture": "Cambodia (Angkor period, Baphuon style)",
          "medium": "Sandstone",
          "dimensions": "H. 28 3/4 in. (73 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38202",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "baphuon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Uma (Parvati)\", Khmer Master Artisan, 11th century, The Metropolitan Museum of Art, ID: 38202, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152892.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2600,
              "height": 3700,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.115Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38210",
          "title": "Shiva as Uma-Maheshvara",
          "creator": "Khmer Master Artisan",
          "date": "second half of the 10th century",
          "culture": "Cambodia (Angkor period, Banteay Srei style)",
          "medium": "Sandstone",
          "dimensions": "H. 15 1/2 in. (39.4 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38210",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "banteay srei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Shiva as Uma-Maheshvara\", Khmer Master Artisan, second half of the 10th century, The Metropolitan Museum of Art, ID: 38210, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152898.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2500,
              "height": 3200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.116Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38218",
          "title": "Garuda Finial for a Chariot or Palanquin",
          "creator": "Khmer Master Artisan",
          "date": "12th century",
          "culture": "Cambodia (Angkor period, Angkor Wat style)",
          "medium": "Bronze with gilt traces",
          "dimensions": "H. 14 in. (35.6 cm)",
          "classification": "Metalwork",
          "categories": [
            "temples",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38218",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Garuda Finial for a Chariot or Palanquin\", Khmer Master Artisan, 12th century, The Metropolitan Museum of Art, ID: 38218, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152904.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 3000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.116Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38225",
          "title": "Conch (Shankha) with Hevajra Motif",
          "creator": "Khmer Master Artisan",
          "date": "late 12th–early 13th century",
          "culture": "Cambodia (Angkor period, Bayon style)",
          "medium": "Bronze",
          "dimensions": "L. 10 1/4 in. (26 cm)",
          "classification": "Metalwork",
          "categories": [
            "temples",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38225",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Conch (Shankha) with Hevajra Motif\", Khmer Master Artisan, late 12th–early 13th century, The Metropolitan Museum of Art, ID: 38225, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152912.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3100,
              "height": 2500,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.116Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38230",
          "title": "Standing Four-Armed Shiva",
          "creator": "Khmer Master Artisan",
          "date": "first half of the 7th century",
          "culture": "Cambodia (Pre-Angkorian period, Sambor Prei Kuk style)",
          "medium": "Stone",
          "dimensions": "H. 48 in. (121.9 cm)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38230",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "sambor prei kuk"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Standing Four-Armed Shiva\", Khmer Master Artisan, first half of the 7th century, The Metropolitan Museum of Art, ID: 38230, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152920.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2800,
              "height": 4100,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.116Z"
        },
        {
          "sourceId": "met_museum_open_access",
          "sourceName": "The Metropolitan Museum of Art",
          "sourceItemId": "38242",
          "title": "Bell with Nandi Finial",
          "creator": "Khmer Master Artisan",
          "date": "11th–12th century",
          "culture": "Cambodia (Angkor period)",
          "medium": "Bronze",
          "dimensions": "H. 7 3/4 in. (19.7 cm)",
          "classification": "Metalwork",
          "categories": [
            "history",
            "khmer_art",
            "archaeology"
          ],
          "originalUrl": "https://www.metmuseum.org/art/collection/search/38242",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Bell with Nandi Finial\", Khmer Master Artisan, 11th–12th century, The Metropolitan Museum of Art, ID: 38242, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://images.metmuseum.org/CRDImages/as/original/DP152932.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2400,
              "height": 2900,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.116Z"
        }
      ]
    },
    "smithsonian_open_access": {
      "sourceId": "smithsonian_open_access",
      "sourceName": "Smithsonian National Museum of Asian Art",
      "apiUrl": "https://api.si.edu/openaccess/api/v1.0",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 10,
        "cursorOrOffset": 10,
        "hasMore": false
      },
      "recordsExamined": 10,
      "khmerRelevantRecords": 10,
      "recordsAccepted": 9,
      "recordsRejected": 0,
      "recordsQuarantined": 1,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 9,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 12,
        "audio": 0,
        "video": 0,
        "documents": 0,
        "other": 0
      },
      "knownMediaSizeBytes": 0,
      "estimatedMediaSizeBytes": 188000000,
      "estimatedOptimizedMediaSizeBytes": 9240000,
      "licenseDistribution": {
        "CC0-1.0 (Public Domain)": 9,
        "All Rights Reserved": 1
      },
      "rejectionReasons": {
        "RESTRICTED_LICENSE_QUARANTINED": 1
      },
      "records": [
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1998.4",
          "title": "Head of a Buddha",
          "creator": "Khmer Master Sculptor",
          "date": "late 12th–early 13th century",
          "culture": "Cambodian or Thai (Khmer style, Angkor period)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 28.5 x 19.5 x 18.5 cm (11 1/4 x 7 11/16 x 7 5/16 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1998.4",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "cambodian"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Head of a Buddha\", Khmer Master Sculptor, late 12th–early 13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1998.4, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7521_04",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 3200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7521_05",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 3200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1992.11",
          "title": "Standing Four-Armed Vishnu",
          "creator": "Khmer Master Sculptor",
          "date": "first half of 7th century",
          "culture": "Cambodia (Pre-Angkorian period, Phnom Da style)",
          "medium": "Stone",
          "dimensions": "H x W x D: 142.2 x 52.8 x 25.4 cm (56 x 20 13/16 x 10 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1992.11",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Standing Four-Armed Vishnu\", Khmer Master Sculptor, first half of 7th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1992.11, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7132_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3600,
              "height": 4800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7132_02",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3600,
              "height": 4800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1999.6",
          "title": "Prajnaparamita (Bodhisattva of Transcendent Wisdom)",
          "creator": "Khmer Master Sculptor",
          "date": "late 12th–early 13th century",
          "culture": "Cambodia (Angkor period, Bayon style)",
          "medium": "Bronze with silver and copper inlay",
          "dimensions": "H x W x D: 123.5 x 44.5 x 28.3 cm (48 5/8 x 17 1/2 x 11 1/8 in)",
          "classification": "Sculpture",
          "categories": [
            "temples",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1999.6",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Prajnaparamita (Bodhisattva of Transcendent Wisdom)\", Khmer Master Sculptor, late 12th–early 13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1999.6, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7788_02",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3800,
              "height": 5000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            },
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7788_03",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3800,
              "height": 5000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_ULTRA_HI_RES_IMAGE_MODEL",
              "estimatedOriginalBytes": 22000000,
              "estimatedOptimizedBytes": 950000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F2005.1",
          "title": "Covered Box in the Shape of an Elephant",
          "creator": "Khmer Master Sculptor",
          "date": "12th–13th century",
          "culture": "Cambodia (Angkor period)",
          "medium": "Glazed stoneware",
          "dimensions": "H x W x D: 16.5 x 18.2 x 14.8 cm (6 1/2 x 7 3/16 x 5 13/16 in)",
          "classification": "Ceramics",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F2005.1",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Covered Box in the Shape of an Elephant\", Khmer Master Sculptor, 12th–13th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F2005.1, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-8201_03",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3400,
              "height": 3000,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1993.4",
          "title": "Tandava Shiva (Dancing Shiva)",
          "creator": "Khmer Master Sculptor",
          "date": "10th century",
          "culture": "Cambodia (Angkor period, Koh Ker style)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 84.5 x 42.1 x 21.0 cm (33 1/4 x 16 9/16 x 8 1/4 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1993.4",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "koh ker"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Tandava Shiva (Dancing Shiva)\", Khmer Master Sculptor, 10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1993.4, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7310_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1996.2",
          "title": "Linga with Yoni Base",
          "creator": "Khmer Master Sculptor",
          "date": "11th century",
          "culture": "Cambodia (Angkor period, Baphuon style)",
          "medium": "Sandstone with bronze finial",
          "dimensions": "H x W x D: 45.2 x 28.0 x 28.0 cm (17 13/16 x 11 x 11 in)",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1996.2",
          "relevanceScore": 120,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "baphuon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Linga with Yoni Base\", Khmer Master Sculptor, 11th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1996.2, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7489_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3000,
              "height": 3800,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F1997.24",
          "title": "Ganesha Seated in Royal Ease",
          "creator": "Khmer Master Sculptor",
          "date": "mid-10th century",
          "culture": "Cambodia (Angkor period, Pre Rup style)",
          "medium": "Sandstone",
          "dimensions": "H x W x D: 72.0 x 48.0 x 36.0 cm",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F1997.24",
          "relevanceScore": 100,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Ganesha Seated in Royal Ease\", Khmer Master Sculptor, mid-10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F1997.24, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7612_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3500,
              "height": 4200,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:fsg_F2001.9",
          "title": "Kneeling Attendant Figure (Apsara/Devata)",
          "creator": "Khmer Master Sculptor",
          "date": "late 10th century",
          "culture": "Cambodia (Angkor period, Banteay Srei style)",
          "medium": "Pink sandstone",
          "dimensions": "H x W x D: 56.4 x 26.0 x 22.0 cm",
          "classification": "Sculpture",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/F2001.9",
          "relevanceScore": 140,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "banteay srei",
            "apsara"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Kneeling Attendant Figure (Apsara/Devata)\", Khmer Master Sculptor, late 10th century, Smithsonian National Museum of Asian Art, ID: edanmdm:fsg_F2001.9, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=FS-7955_01",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3200,
              "height": 4500,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        },
        {
          "sourceId": "smithsonian_open_access",
          "sourceName": "Smithsonian National Museum of Asian Art",
          "sourceItemId": "edanmdm:nmaahc_2015.1",
          "title": "Twentieth-Century American Jazz Trumpet",
          "creator": "Khmer Master Sculptor",
          "date": "1955",
          "culture": "American",
          "medium": "Brass",
          "dimensions": "H: 48 cm",
          "classification": "Musical Instruments",
          "categories": [
            "arts",
            "khmer_sculpture",
            "freer_sackler"
          ],
          "originalUrl": "https://asia.si.edu/object/edanmdm:nmaahc_2015.1",
          "relevanceScore": 40,
          "relevanceKeywords": [
            "khmer",
            "angkor"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0 (Public Domain)",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Twentieth-Century American Jazz Trumpet\", Khmer Master Sculptor, 1955, Smithsonian National Museum of Asian Art, ID: edanmdm:nmaahc_2015.1, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://ids.si.edu/ids/deliveryService?id=NMAAHC-001",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 2400,
              "height": 2400,
              "isSizeKnown": false,
              "sizeEstimationMethod": "EMPIRICAL_MUSEUM_ARCHIVAL_IMAGE_MODEL",
              "estimatedOriginalBytes": 12500000,
              "estimatedOptimizedBytes": 680000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.117Z"
        }
      ]
    },
    "wikimedia_commons": {
      "sourceId": "wikimedia_commons",
      "sourceName": "Wikimedia Commons",
      "apiUrl": "https://commons.wikimedia.org/w/api.php",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 17,
        "cursorOrOffset": 17,
        "hasMore": false
      },
      "recordsExamined": 17,
      "khmerRelevantRecords": 16,
      "recordsAccepted": 15,
      "recordsRejected": 1,
      "recordsQuarantined": 1,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 15,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 12,
        "audio": 1,
        "video": 1,
        "documents": 1,
        "other": 0
      },
      "knownMediaSizeBytes": 187800000,
      "estimatedMediaSizeBytes": 187800000,
      "estimatedOptimizedMediaSizeBytes": 26542159,
      "licenseDistribution": {
        "CC-BY-SA": 11,
        "CC-BY": 3,
        "CC0-1.0 (Public Domain)": 1,
        "CC BY-NC 4.0": 1
      },
      "rejectionReasons": {
        "LOW_RELEVANCE_NON_KHMER": 1,
        "RESTRICTED_LICENSE_QUARANTINED": 1
      },
      "records": [
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "101",
          "title": "Angkor Wat temple complex panorama at sunrise.jpg",
          "creator": "Bjørn Christian Tørrissen",
          "date": "2019-11-14",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/4/41/Angkor_Wat_temple_complex_panorama_at_sunrise.jpg",
          "categories": [
            "temples",
            "Angkor Wat at sunrise",
            "Khmer architecture in Cambodia",
            "Featured pictures of Cambodia"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Wat temple complex panorama at sunrise.jpg\", Bjørn Christian Tørrissen, 2019-11-14, Wikimedia Commons, ID: 101, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/4/41/Angkor_Wat_temple_complex_panorama_at_sunrise.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5800,
              "height": 3200,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 14850000,
              "estimatedOptimizedBytes": 849057
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "102",
          "title": "Bayon Temple smiling stone faces towers Angkor Thom.jpg",
          "creator": "CEphoto, Uwe Aranas",
          "date": "2018-03-22",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/7/7b/Bayon_Temple_smiling_stone_faces_towers_Angkor_Thom.jpg",
          "categories": [
            "temples",
            "Bayon",
            "Angkor Thom",
            "Lokeshvara faces in Khmer architecture"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/3.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Bayon Temple smiling stone faces towers Angkor Thom.jpg\", CEphoto, Uwe Aranas, 2018-03-22, Wikimedia Commons, ID: 102, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/7/7b/Bayon_Temple_smiling_stone_faces_towers_Angkor_Thom.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4800,
              "height": 3600,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 12400000,
              "estimatedOptimizedBytes": 708977
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "103",
          "title": "Banteay Srei pink sandstone intricate lintel carvings.jpg",
          "creator": "Vyacheslav Argenberg",
          "date": "2020-01-10",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/1/1a/Banteay_Srei_pink_sandstone_intricate_lintel_carvings.jpg",
          "categories": [
            "arts",
            "Banteay Srei carvings",
            "Hindu lintels in Cambodia",
            "Khmer decorative art"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "banteay srei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Banteay Srei pink sandstone intricate lintel carvings.jpg\", Vyacheslav Argenberg, 2020-01-10, Wikimedia Commons, ID: 103, (CC-BY)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/1/1a/Banteay_Srei_pink_sandstone_intricate_lintel_carvings.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4200,
              "height": 2800,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 9800000,
              "estimatedOptimizedBytes": 560320
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "104",
          "title": "Preah Vihear cliffside sanctuary northern staircase view.jpg",
          "creator": "Danyal",
          "date": "2017-08-05",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/9/91/Preah_Vihear_cliffside_sanctuary_northern_staircase_view.jpg",
          "categories": [
            "temples",
            "Prasat Preah Vihear",
            "Dângrêk Mountains",
            "UNESCO World Heritage Sites in Cambodia"
          ],
          "relevanceScore": 80,
          "relevanceKeywords": [
            "cambodia",
            "preah",
            "preah vihear",
            "prasat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Preah Vihear cliffside sanctuary northern staircase view.jpg\", Danyal, 2017-08-05, Wikimedia Commons, ID: 104, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/9/91/Preah_Vihear_cliffside_sanctuary_northern_staircase_view.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4500,
              "height": 3000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11200000,
              "estimatedOptimizedBytes": 640366
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "105",
          "title": "Royal Ballet of Cambodia classical Apsara dance performance.jpg",
          "creator": "Ministry of Culture and Fine Arts Photographer",
          "date": "2016-04-12",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/3/3f/Royal_Ballet_of_Cambodia_classical_Apsara_dance_performance.jpg",
          "categories": [
            "rituals",
            "Robam Tep Apsara",
            "Khmer classical dance",
            "Traditional costumes of Cambodia"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "apsara"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Royal Ballet of Cambodia classical Apsara dance performance.jpg\", Ministry of Culture and Fine Arts Photographer, 2016-04-12, Wikimedia Commons, ID: 105, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/3/3f/Royal_Ballet_of_Cambodia_classical_Apsara_dance_performance.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 2667,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 8700000,
              "estimatedOptimizedBytes": 497427
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "106",
          "title": "Traditional Pinpeat orchestra ensemble performing with Roneat Ek and Kong Vong.jpg",
          "creator": "Khmer Heritage Foundation",
          "date": "2021-02-18",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/8/8c/Traditional_Pinpeat_orchestra_ensemble_performing.jpg",
          "categories": [
            "music",
            "Pinpeat music",
            "Khmer musical instruments",
            "Roneat ek"
          ],
          "relevanceScore": 40,
          "relevanceKeywords": [
            "khmer",
            "pinpeat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Traditional Pinpeat orchestra ensemble performing with Roneat Ek and Kong Vong.jpg\", Khmer Heritage Foundation, 2021-02-18, Wikimedia Commons, ID: 106, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/8/8c/Traditional_Pinpeat_orchestra_ensemble_performing.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4400,
              "height": 2933,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 10150000,
              "estimatedOptimizedBytes": 580332
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "107",
          "title": "Chapei Dang Veng traditional solo performance master.ogg",
          "creator": "Cambodian Living Arts Master",
          "date": "2019-06-20",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/a/a2/Chapei_Dang_Veng_traditional_solo_performance.ogg",
          "categories": [
            "music",
            "Chapei Dang Veng",
            "UNESCO Intangible Cultural Heritage of Cambodia",
            "Khmer folk songs"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "chapei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Chapei Dang Veng traditional solo performance master.ogg\", Cambodian Living Arts Master, 2019-06-20, Wikimedia Commons, ID: 107, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/a/a2/Chapei_Dang_Veng_traditional_solo_performance.ogg",
              "mimeType": "audio/ogg",
              "mediaType": "audio",
              "width": 0,
              "height": 0,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 4800000,
              "estimatedOptimizedBytes": 738462
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "108",
          "title": "Ta Prohm temple giant tetrameles nudiflora tree roots covering gallery.jpg",
          "creator": "Diego Delso",
          "date": "2014-12-01",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/5/52/Ta_Prohm_temple_giant_tetrameles_nudiflora_tree_roots.jpg",
          "categories": [
            "temples",
            "Ta Prohm",
            "Trees in Angkor",
            "Buddhist temples in Cambodia"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "ta prohm"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Ta Prohm temple giant tetrameles nudiflora tree roots covering gallery.jpg\", Diego Delso, 2014-12-01, Wikimedia Commons, ID: 108, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/5/52/Ta_Prohm_temple_giant_tetrameles_nudiflora_tree_roots.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5200,
              "height": 3467,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 15200000,
              "estimatedOptimizedBytes": 869068
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.119Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "109",
          "title": "Sastra Slek Rit ancient Khmer palm-leaf manuscript inscription.pdf",
          "creator": "Buddhist Institute Archive",
          "date": "2015-09-10",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/6/67/Sastra_Slek_Rit_ancient_Khmer_palm_leaf_manuscript.pdf",
          "categories": [
            "script",
            "Khmer manuscripts",
            "Pali literature in Cambodia",
            "Palm leaf manuscripts"
          ],
          "relevanceScore": 90,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "sastra slek rit"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC0-1.0",
          "licenseUrl": "https://creativecommons.org/publicdomain/zero/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Sastra Slek Rit ancient Khmer palm-leaf manuscript inscription.pdf\", Buddhist Institute Archive, 2015-09-10, Wikimedia Commons, ID: 109, (CC0-1.0 (Public Domain))",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/6/67/Sastra_Slek_Rit_ancient_Khmer_palm_leaf_manuscript.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "width": 0,
              "height": 0,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 18400000,
              "estimatedOptimizedBytes": 10222222
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "110",
          "title": "Angkor Thom south gate naga bridge guardian statues.jpg",
          "creator": "Pisit",
          "date": "2020-03-15",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/b/b3/Angkor_Thom_south_gate_naga_bridge_guardian_statues.jpg",
          "categories": [
            "arts",
            "Angkor Thom South Gate",
            "Churning of the Ocean of Milk sculptures",
            "Khmer stone gates"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "khmer",
            "angkor"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY 3.0",
          "licenseUrl": "https://creativecommons.org/licenses/by/3.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Angkor Thom south gate naga bridge guardian statues.jpg\", Pisit, 2020-03-15, Wikimedia Commons, ID: 110, (CC-BY)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/b/b3/Angkor_Thom_south_gate_naga_bridge_guardian_statues.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4000,
              "height": 3000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 9300000,
              "estimatedOptimizedBytes": 531732
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "111",
          "title": "Prasat Kravan brick temple Vishnu bas-relief sculptures.jpg",
          "creator": "Giles McDonald",
          "date": "2017-04-18",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/c/c8/Prasat_Kravan_brick_temple_Vishnu_bas_relief.jpg",
          "categories": [
            "temples",
            "Prasat Kravan",
            "Brick temples of Angkor",
            "Vishnu reliefs in Cambodia"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "angkor",
            "cambodia",
            "prasat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Prasat Kravan brick temple Vishnu bas-relief sculptures.jpg\", Giles McDonald, 2017-04-18, Wikimedia Commons, ID: 111, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/c/c8/Prasat_Kravan_brick_temple_Vishnu_bas_relief.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3800,
              "height": 2850,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 8900000,
              "estimatedOptimizedBytes": 508862
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "112",
          "title": "Koh Ker Prasat Thom seven-tiered pyramid temple.jpg",
          "creator": "Jean-Pierre Dalbéra",
          "date": "2016-01-28",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/e/ee/Koh_Ker_Prasat_Thom_seven_tiered_pyramid_temple.jpg",
          "categories": [
            "temples",
            "Prasat Thom Koh Ker",
            "Pyramids in Cambodia",
            "10th-century Khmer architecture"
          ],
          "relevanceScore": 80,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "koh ker",
            "prasat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY 2.0",
          "licenseUrl": "https://creativecommons.org/licenses/by/2.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Koh Ker Prasat Thom seven-tiered pyramid temple.jpg\", Jean-Pierre Dalbéra, 2016-01-28, Wikimedia Commons, ID: 112, (CC-BY)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/e/ee/Koh_Ker_Prasat_Thom_seven_tiered_pyramid_temple.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4900,
              "height": 3267,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 13100000,
              "estimatedOptimizedBytes": 748999
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "113",
          "title": "Sambor Prei Kuk brick octagonal temple Prasat Tao.jpg",
          "creator": "Supnut",
          "date": "2018-11-09",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/2/27/Sambor_Prei_Kuk_brick_octagonal_temple_Prasat_Tao.jpg",
          "categories": [
            "temples",
            "Sambor Prei Kuk",
            "Chenla period temples",
            "Kompong Thom heritage"
          ],
          "relevanceScore": 60,
          "relevanceKeywords": [
            "sambor prei kuk",
            "chenla",
            "prasat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Sambor Prei Kuk brick octagonal temple Prasat Tao.jpg\", Supnut, 2018-11-09, Wikimedia Commons, ID: 113, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/2/27/Sambor_Prei_Kuk_brick_octagonal_temple_Prasat_Tao.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4600,
              "height": 3067,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 11400000,
              "estimatedOptimizedBytes": 651801
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "114",
          "title": "Reamker epic shadow theatre Sbek Thom performance video clip.webm",
          "creator": "Sovanna Phum Theatre",
          "date": "2021-07-14",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/d/d4/Reamker_epic_shadow_theatre_Sbek_Thom_performance.webm",
          "categories": [
            "mythology",
            "Sbek Thom",
            "Khmer shadow theatre",
            "Reamker performances"
          ],
          "relevanceScore": 40,
          "relevanceKeywords": [
            "khmer",
            "reamker"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Reamker epic shadow theatre Sbek Thom performance video clip.webm\", Sovanna Phum Theatre, 2021-07-14, Wikimedia Commons, ID: 114, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/d/d4/Reamker_epic_shadow_theatre_Sbek_Thom_performance.webm",
              "mimeType": "video/webm",
              "mediaType": "video",
              "width": 1920,
              "height": 1080,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 32000000,
              "estimatedOptimizedBytes": 8000000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        },
        {
          "sourceId": "wikimedia_commons",
          "sourceName": "Wikimedia Commons",
          "sourceItemId": "115",
          "title": "Khmer traditional silk weaving hol and ikat pattern.jpg",
          "creator": "Phnom Srok Artisans Guild",
          "date": "2019-08-22",
          "originalUrl": "https://upload.wikimedia.org/wikipedia/commons/5/5a/Khmer_traditional_silk_weaving_hol_and_ikat.jpg",
          "categories": [
            "costumes",
            "Khmer silk",
            "Ikat textiles in Cambodia",
            "Traditional crafts of Cambodia"
          ],
          "relevanceScore": 70,
          "relevanceKeywords": [
            "khmer",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "CC BY-SA 4.0",
          "licenseUrl": "https://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc_by_sa",
          "isCommercialAllowed": true,
          "isPublicDomain": false,
          "attribution": "\"Khmer traditional silk weaving hol and ikat pattern.jpg\", Phnom Srok Artisans Guild, 2019-08-22, Wikimedia Commons, ID: 115, (CC-BY-SA)",
          "media": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/5/5a/Khmer_traditional_silk_weaving_hol_and_ikat.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 3600,
              "height": 2400,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 7600000,
              "estimatedOptimizedBytes": 434534
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.120Z"
        }
      ]
    },
    "internet_archive": {
      "sourceId": "internet_archive",
      "sourceName": "Internet Archive (archive.org)",
      "apiUrl": "https://archive.org/advancedsearch.php",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 10,
        "hasMore": false
      },
      "recordsExamined": 10,
      "khmerRelevantRecords": 10,
      "recordsAccepted": 5,
      "recordsRejected": 0,
      "recordsQuarantined": 1,
      "recordsUnknownLicense": 4,
      "itemsWithMedia": 10,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 1,
        "audio": 3,
        "video": 1,
        "documents": 5,
        "other": 0
      },
      "knownMediaSizeBytes": 591900000,
      "estimatedMediaSizeBytes": 591900000,
      "estimatedOptimizedMediaSizeBytes": 233553221,
      "licenseDistribution": {
        "CC0-1.0 (Public Domain)": 5,
        "http://creativecommons.org/licenses/by-nc-nd/4.0/": 1,
        "http://creativecommons.org/licenses/by-sa/4.0/": 2,
        "Unknown / Unspecified": 1,
        "http://creativecommons.org/licenses/by/3.0/": 1
      },
      "rejectionReasons": {},
      "records": [
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "inscriptionsducambodgecoedes01",
          "title": "Inscriptions du Cambodge, Vol. 1: Épigraphie Khmère Ancienne",
          "creator": "George Cœdès (1886-1969)",
          "date": "1937",
          "description": "Foundational scholarly transcription, translation, and historical commentary on ancient Sanskrit and Old Khmer stone inscriptions.",
          "categories": [
            "manuscript_epigraphy"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/inscriptionsducambodgecoedes01",
          "relevanceScore": 70,
          "relevanceKeywords": [
            "khmer",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseUrl": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"George Cœdès (1886-1969)\", 1937, CC0-1.0 (Public Domain), Internet Archive (archive.org), (https://archive.org/details/inscriptionsducambodgecoedes01)",
          "media": [
            {
              "url": "https://archive.org/download/inscriptionsducambodgecoedes01/inscriptionsducambodgecoedes01.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "originalSizeBytes": 48500000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 48500000,
              "estimatedOptimizedBytes": 26944444
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "voyageaucambodge01delaporte",
          "title": "Voyage au Cambodge : l'architecture khmer",
          "creator": "Louis Delaporte (1842-1925)",
          "date": "1880",
          "description": "First comprehensive European architectural monograph on Angkor Wat, Bayon, and Angkor Thom with elaborate lithographic engravings.",
          "categories": [
            "manuscript_epigraphy"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/voyageaucambodge01delaporte",
          "relevanceScore": 110,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "bayon"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseUrl": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Louis Delaporte (1842-1925)\", 1880, CC0-1.0 (Public Domain), Internet Archive (archive.org), (https://archive.org/details/voyageaucambodge01delaporte)",
          "media": [
            {
              "url": "https://archive.org/download/voyageaucambodge01delaporte/delaporte_voyage_cambodge.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "originalSizeBytes": 65200000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 65200000,
              "estimatedOptimizedBytes": 36222222
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "lecambodgetourisme00aymonier",
          "title": "Le Cambodge : Le royaume actuel et les provinces siamoises",
          "creator": "Étienne Aymonier (1844-1929)",
          "date": "1900",
          "description": "Exhaustive 3-volume geographical and epigraphical inventory of Cambodian monuments, temples, folklore, and rural traditions.",
          "categories": [
            "manuscript_epigraphy"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/lecambodgetourisme00aymonier",
          "relevanceScore": 60,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "cambodian"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseUrl": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Étienne Aymonier (1844-1929)\", 1900, CC0-1.0 (Public Domain), Internet Archive (archive.org), (https://archive.org/details/lecambodgetourisme00aymonier)",
          "media": [
            {
              "url": "https://archive.org/download/lecambodgetourisme00aymonier/aymonier_le_cambodge_v1.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "originalSizeBytes": 82400000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 82400000,
              "estimatedOptimizedBytes": 45777778
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "ancientkhmerempirebriggs1951",
          "title": "The Ancient Khmer Empire",
          "creator": "Lawrence Palmer Briggs",
          "date": "1951",
          "description": "Monumental English-language historical synthesis of the Angkorian civilization from Funan to the post-Angkorian decline.",
          "categories": [
            "manuscript_epigraphy"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/ancientkhmerempirebriggs1951",
          "relevanceScore": 110,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "funan"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/licenses/by-nc-nd/4.0/",
          "licenseUrl": "http://creativecommons.org/licenses/by-nc-nd/4.0/",
          "licenseClassification": "QUARANTINE",
          "licenseTier": "unsupported_quarantine",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Non-Commercial (NC) restriction is incompatible with open redistribution",
          "attribution": "\"Lawrence Palmer Briggs\", 1951, http://creativecommons.org/licenses/by-nc-nd/4.0/, Internet Archive (archive.org), (https://archive.org/details/ancientkhmerempirebriggs1951)",
          "media": [
            {
              "url": "https://archive.org/download/ancientkhmerempirebriggs1951/ancient_khmer_empire_briggs.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "originalSizeBytes": 94000000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 94000000,
              "estimatedOptimizedBytes": 52222222
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "khmer_royal_pinpeat_ensemble_1962",
          "title": "Royal Court Pinpeat Ensemble: Ceremonial Suite for the Sacred Apsara Dance",
          "creator": "National Royal Palace Orchestra, Phnom Penh",
          "date": "1962",
          "description": "Historical acoustic recording of Roneat Ek (xylophone), Kong Vong Toch (gong circles), and Sralai (quadruple-reed oboe) performing the divine Apsara entrance fanfare.",
          "categories": [
            "traditional_music"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/khmer_royal_pinpeat_ensemble_1962",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "apsara",
            "pinpeat"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/licenses/by-sa/4.0/",
          "licenseUrl": "http://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "UNKNOWN",
          "licenseTier": "unknown",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Unverified licensing text: \"http://creativecommons.org/licenses/by-sa/4.0/\"",
          "attribution": "\"National Royal Palace Orchestra, Phnom Penh\", 1962, http://creativecommons.org/licenses/by-sa/4.0/, Internet Archive (archive.org), (https://archive.org/details/khmer_royal_pinpeat_ensemble_1962)",
          "media": [
            {
              "url": "https://archive.org/download/khmer_royal_pinpeat_ensemble_1962/pinpeat_ceremonial_apsara_1962.flac",
              "mimeType": "audio/flac",
              "mediaType": "audio",
              "durationSeconds": 380,
              "originalSizeBytes": 24600000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 24600000,
              "estimatedOptimizedBytes": 3784615
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "chapei_dong_veng_master_kong_nay_1991",
          "title": "Chapei Dong Veng: Ballad of the Reamker and Moral Verses",
          "creator": "Master Kong Nay",
          "date": "1991",
          "description": "Traditional long-necked lute (Chapei) recitation with improvisational epic narrative poetry registered on UNESCO Intangible Cultural Heritage list.",
          "categories": [
            "traditional_music"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/chapei_dong_veng_master_kong_nay_1991",
          "relevanceScore": 80,
          "relevanceKeywords": [
            "khmer",
            "cambodia",
            "chapei",
            "reamker"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/licenses/by-sa/4.0/",
          "licenseUrl": "http://creativecommons.org/licenses/by-sa/4.0/",
          "licenseClassification": "UNKNOWN",
          "licenseTier": "unknown",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Unverified licensing text: \"http://creativecommons.org/licenses/by-sa/4.0/\"",
          "attribution": "\"Master Kong Nay\", 1991, http://creativecommons.org/licenses/by-sa/4.0/, Internet Archive (archive.org), (https://archive.org/details/chapei_dong_veng_master_kong_nay_1991)",
          "media": [
            {
              "url": "https://archive.org/download/chapei_dong_veng_master_kong_nay_1991/chapei_ballad_kong_nay.flac",
              "mimeType": "audio/flac",
              "mediaType": "audio",
              "durationSeconds": 510,
              "originalSizeBytes": 32800000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 32800000,
              "estimatedOptimizedBytes": 5046154
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "angkor_wat_archaeological_restoration_1931",
          "title": "Historical Newsreel: EFEO Anastylose Reconstruction of Banteay Srei and Angkor Wat",
          "creator": "Henri Marchal / EFEO Indochina Film Unit",
          "date": "1931",
          "description": "Archival black-and-white 35mm cinematographic reel documenting the pioneer anastylosis restoration techniques at Banteay Srei temple.",
          "categories": [
            "dance_theater"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/angkor_wat_archaeological_restoration_1931",
          "relevanceScore": 110,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "banteay srei"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseUrl": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Henri Marchal / EFEO Indochina Film Unit\", 1931, CC0-1.0 (Public Domain), Internet Archive (archive.org), (https://archive.org/details/angkor_wat_archaeological_restoration_1931)",
          "media": [
            {
              "url": "https://archive.org/download/angkor_wat_archaeological_restoration_1931/banteay_srei_restoration_1931.mp4",
              "mimeType": "video/mp4",
              "mediaType": "video",
              "durationSeconds": 420,
              "originalSizeBytes": 185000000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 185000000,
              "estimatedOptimizedBytes": 46250000
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "bayon_temple_photo_album_1920",
          "title": "Glass Plate Photographic Negative: The Smiling Towers of the Bayon Temple",
          "creator": "Mission Archéologique d'Angkor",
          "date": "1920",
          "description": "Ultra-high resolution glass-plate negative scan capturing the face-towers of Avalokiteshvara/Jayavarman VII before modern consolidation.",
          "categories": [
            "historical_monument"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/bayon_temple_photo_album_1920",
          "relevanceScore": 130,
          "relevanceKeywords": [
            "khmer",
            "angkor",
            "cambodia",
            "bayon",
            "jayavarman"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseUrl": "http://creativecommons.org/publicdomain/mark/1.0/",
          "licenseClassification": "ACCEPTABLE",
          "licenseTier": "cc0",
          "isCommercialAllowed": true,
          "isPublicDomain": true,
          "attribution": "\"Mission Archéologique d'Angkor\", 1920, CC0-1.0 (Public Domain), Internet Archive (archive.org), (https://archive.org/details/bayon_temple_photo_album_1920)",
          "media": [
            {
              "url": "https://archive.org/download/bayon_temple_photo_album_1920/bayon_face_towers_1920.tif",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 4800,
              "height": 3600,
              "originalSizeBytes": 19400000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 19400000,
              "estimatedOptimizedBytes": 1109205
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "modern_cambodian_textbook_copyrighted_2020",
          "title": "Modern History of Southeast Asia: Cambodia Section",
          "creator": "Contemporary Publisher",
          "date": "2020",
          "description": "In-copyright modern textbook on 21st century Southeast Asian geopolitics.",
          "categories": [
            "manuscript_epigraphy"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/modern_cambodian_textbook_copyrighted_2020",
          "relevanceScore": 40,
          "relevanceKeywords": [
            "khmer",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "Unknown",
          "licenseUrl": "",
          "licenseClassification": "UNKNOWN",
          "licenseTier": "unknown",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Missing licensing and copyright declaration in source metadata",
          "attribution": "\"Contemporary Publisher\", 2020, Unknown / Unspecified, Internet Archive (archive.org), (https://archive.org/details/modern_cambodian_textbook_copyrighted_2020)",
          "media": [
            {
              "url": "https://archive.org/download/modern_cambodian_textbook_copyrighted_2020/textbook.pdf",
              "mimeType": "application/pdf",
              "mediaType": "documents",
              "originalSizeBytes": 25000000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 25000000,
              "estimatedOptimizedBytes": 13888889
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        },
        {
          "sourceId": "internet_archive",
          "sourceName": "Internet Archive (archive.org)",
          "sourceItemId": "generic_indonesian_gamelan_music",
          "title": "Javanese Gamelan Court Music from Yogyakarta",
          "creator": "Kraton Ensemble",
          "date": "1975",
          "description": "Traditional Indonesian central Javanese gamelan music (non-Khmer).",
          "categories": [
            "traditional_music"
          ],
          "culture": "Cambodia (Khmer)",
          "originalUrl": "https://archive.org/details/generic_indonesian_gamelan_music",
          "relevanceScore": 70,
          "relevanceKeywords": [
            "khmer",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "http://creativecommons.org/licenses/by/3.0/",
          "licenseUrl": "http://creativecommons.org/licenses/by/3.0/",
          "licenseClassification": "UNKNOWN",
          "licenseTier": "unknown",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Unverified licensing text: \"http://creativecommons.org/licenses/by/3.0/\"",
          "attribution": "\"Kraton Ensemble\", 1975, http://creativecommons.org/licenses/by/3.0/, Internet Archive (archive.org), (https://archive.org/details/generic_indonesian_gamelan_music)",
          "media": [
            {
              "url": "https://archive.org/download/generic_indonesian_gamelan_music/gamelan.mp3",
              "mimeType": "audio/flac",
              "mediaType": "audio",
              "originalSizeBytes": 15000000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 15000000,
              "estimatedOptimizedBytes": 2307692
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.122Z"
        }
      ]
    },
    "gallica_bnf": {
      "sourceId": "gallica_bnf",
      "sourceName": "Bibliothèque nationale de France (BnF / Gallica)",
      "apiUrl": "https://gallica.bnf.fr/services/engine/search/sru",
      "paginationInfo": {
        "totalPagesChecked": 1,
        "totalRecordsExamined": 6,
        "hasMore": false
      },
      "recordsExamined": 6,
      "khmerRelevantRecords": 6,
      "recordsAccepted": 0,
      "recordsRejected": 0,
      "recordsQuarantined": 6,
      "recordsUnknownLicense": 0,
      "itemsWithMedia": 6,
      "itemsWithoutMedia": 0,
      "mediaTypeCounts": {
        "images": 3,
        "audio": 0,
        "video": 0,
        "documents": 3,
        "other": 0
      },
      "knownMediaSizeBytes": 197400000,
      "estimatedMediaSizeBytes": 197400000,
      "estimatedOptimizedMediaSizeBytes": 85046694,
      "licenseDistribution": {
        "BnF Non-Commercial Open Access (free for research/education; commercial license required)": 6
      },
      "rejectionReasons": {},
      "records": [
        {
          "sourceId": "gallica_bnf",
          "sourceName": "Bibliothèque nationale de France (BnF / Gallica)",
          "sourceItemId": "ark:/12148/bpt6k5444211j",
          "title": "Carte du Royaume de Cambodge et des Ruines d'Angkor",
          "creator": "Mission Doudart de Lagrée / Francis Garnier",
          "date": "1873",
          "description": "Historical hand-colored topographical survey map locating the central sanctuary of Angkor Wat and surrounding hydraulic barays.",
          "categories": [
            "historical_monument"
          ],
          "culture": "Cambodia (Khmer / Colonial Period)",
          "originalUrl": "https://gallica.bnf.fr/ark:/12148/bpt6k5444211j",
          "relevanceScore": 70,
          "relevanceKeywords": [
            "angkor",
            "cambodia"
          ],
          "isKhmerRelevant": true,
          "rawLicense": "conditions d'utilisation de Gallica : réutilisation non commerciale libre et gratuite",
          "licenseClassification": "QUARANTINE",
          "licenseTier": "unsupported_quarantine",
          "isCommercialAllowed": false,
          "isPublicDomain": false,
          "quarantineOrRejectionReason": "Non-Commercial (NC) restriction is incompatible with open redistribution",
          "attribution": "\"Mission Doudart de Lagrée / Francis Garnier\", 1873, Source gallica.bnf.fr / Bibliothèque nationale de France, Bibliothèque nationale de France (BnF / Gallica), (https://gallica.bnf.fr/ark:/12148/bpt6k5444211j)",
          "media": [
            {
              "url": "https://gallica.bnf.fr/iiif/ark:/12148/bpt6k5444211j/f1/full/full/0/native.jpg",
              "mimeType": "image/jpeg",
              "mediaType": "images",
              "width": 5200,
              "height": 4100,
              "originalSizeBytes": 18200000,
              "isSizeKnown": true,
              "sizeEstimationMethod": "EXPLICIT_SOURCE_METADATA",
              "estimatedOriginalBytes": 18200000,
              "estimatedOptimizedBytes": 1040595
            }
          ],
          "hasMedia": true,
          "discoveredAt": "2026-08-29T11:11:48.124Z"
        },
        {
          "sourceId": "gallica_bnf",
          "sourceName": "Bibliothèque nationale de France (BnF / Gallica)",
          "sourceItemId": "ark:/12148/btv1b8453488g",
          "title": "Ruines Khmères : Le Temple du Bayon, vue de la terrasse des Éléphants",
          "creator": "Émile Gsell (1838-1879)",
          "date": "1866",
          "description": "Earliest albumen silver photographic print capturing the Bayon towers and the overgrown Terrace of the Elephants.",
          "categories": [
            "historical_monument"
          ],
          "culture": "Cambodia (Khmer / Colonial Period)",
          "originalUrl": "https://gallica.bnf.fr/ark:/12148/btv1b8453488g",
          "relevanceScore": 40,
          "relevanceKeywords": [
[...]
